In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("ExampleRegression").getOrCreate()

In [3]:
raw_data = spark.read.csv('cruise_ship_info.csv', inferSchema=True, header=True)

In [4]:
raw_data.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [6]:
raw_data.describe().show(vertical=True)

-RECORD 0-------------------------------
 summary           | count
 Ship_name         | 158
 Cruise_line       | 158
 Age               | 158
 Tonnage           | 158
 passengers        | 158
 length            | 158
 cabins            | 158
 passenger_density | 158
 crew              | 158
-RECORD 1-------------------------------
 summary           | mean
 Ship_name         | Infinity
 Cruise_line       | null
 Age               | 15.689873417721518
 Tonnage           | 71.28467088607599
 passengers        | 18.45740506329114
 length            | 8.130632911392404
 cabins            | 8.830000000000005
 passenger_density | 39.90094936708861
 crew              | 7.794177215189873
-RECORD 2-------------------------------
 summary           | stddev
 Ship_name         | NaN
 Cruise_line       | null
 Age               | 7.615691058751413
 Tonnage           | 37.229540025907866
 passengers        | 9.677094775143416
 length            | 1.793473548054825
 cabins            | 4.4714172221480615
 passenger_density | 8.63921711391542
 crew              | 3.503486564627034
-RECORD 3-------------------------------
 summary           | min
 Ship_name         | Adventure
 Cruise_line       | Azamara
 Age               | 4
 Tonnage           | 2.329
 passengers        | 0.66
 length            | 2.79
 cabins            | 0.33
 passenger_density | 17.7
 crew              | 0.59
-RECORD 4-------------------------------
 summary           | max
 Ship_name         | Zuiderdam
 Cruise_line       | Windstar
 Age               | 48
 Tonnage           | 220.0
 passengers        | 54.0
 length            | 11.82
 cabins            | 27.0
 passenger_density | 71.43
 crew              | 21.0

In [7]:
raw_data.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [8]:
from pyspark.ml.feature import StringIndexer

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [9]:
str_indexer = StringIndexer(inputCol='Cruise_line', outputCol='cline_index')

In [10]:
cline_indexed_data = str_indexer.fit(raw_data).transform(raw_data)

In [13]:
cline_indexed_data.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|cline_index|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|       16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|       16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|        1.0|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|        1.0|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|        1.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|        1.0|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|        1.0|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|        1.0|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|        1.0|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|        1.0|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|        1.0|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|        1.0|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|        1.0|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|        1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import corr

In [21]:
cline_indexed_data.select(corr('crew','passenger_density')).show()

+-----------------------------+
|corr(crew, passenger_density)|
+-----------------------------+
|         -0.15550928421699717|
+-----------------------------+

In [23]:
cline_indexed_data.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'cline_index']

In [24]:
required_features = cline_indexed_data.select(['Ship_name',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'crew',
 'cline_index'])

In [25]:
required_features.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- crew: double (nullable = true)
 |-- cline_index: double (nullable = false)

In [26]:
from pyspark.ml.feature import VectorAssembler

In [27]:
vect_assembler = VectorAssembler(inputCols=['Tonnage',
                                           'passengers',
                                           'length',
                                           'cabins',
                                           'cline_index'],
                                outputCol='features')

In [28]:
feature_assembled_data = vect_assembler.transform(required_features)

In [31]:
feature_assembled_data.show(vertical=True, truncate=False)

-RECORD 0-----------------------------------------------
 Ship_name   | Journey
 Tonnage     | 30.276999999999997
 passengers  | 6.94
 length      | 5.94
 cabins      | 3.55
 crew        | 3.55
 cline_index | 16.0
 features    | [30.276999999999997,6.94,5.94,3.55,16.0]
-RECORD 1-----------------------------------------------
 Ship_name   | Quest
 Tonnage     | 30.276999999999997
 passengers  | 6.94
 length      | 5.94
 cabins      | 3.55
 crew        | 3.55
 cline_index | 16.0
 features    | [30.276999999999997,6.94,5.94,3.55,16.0]
-RECORD 2-----------------------------------------------
 Ship_name   | Celebration
 Tonnage     | 47.262
 passengers  | 14.86
 length      | 7.22
 cabins      | 7.43
 crew        | 6.7
 cline_index | 1.0
 features    | [47.262,14.86,7.22,7.43,1.0]
-RECORD 3-----------------------------------------------
 Ship_name   | Conquest
 Tonnage     | 110.0
 passengers  | 29.74
 length      | 9.53
 cabins      | 14.88
 crew        | 19.1
 cline_index | 1.0
 features    | [110.0,29.74,9.53,14.88,1.0]
-RECORD 4-----------------------------------------------
 Ship_name   | Destiny
 Tonnage     | 101.353
 passengers  | 26.42
 length      | 8.92
 cabins      | 13.21
 crew        | 10.0
 cline_index | 1.0
 features    | [101.353,26.42,8.92,13.21,1.0]
-RECORD 5-----------------------------------------------
 Ship_name   | Ecstasy
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
-RECORD 6-----------------------------------------------
 Ship_name   | Elation
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
-RECORD 7-----------------------------------------------
 Ship_name   | Fantasy
 Tonnage     | 70.367
 passengers  | 20.56
 length      | 8.55
 cabins      | 10.22
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.56,8.55,10.22,1.0]
-RECORD 8-----------------------------------------------
 Ship_name   | Fascination
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
-RECORD 9-----------------------------------------------
 Ship_name   | Freedom
 Tonnage     | 110.23899999999999
 passengers  | 37.0
 length      | 9.51
 cabins      | 14.87
 crew        | 11.5
 cline_index | 1.0
 features    | [110.23899999999999,37.0,9.51,14.87,1.0]
-RECORD 10----------------------------------------------
 Ship_name   | Glory
 Tonnage     | 110.0
 passengers  | 29.74
 length      | 9.51
 cabins      | 14.87
 crew        | 11.6
 cline_index | 1.0
 features    | [110.0,29.74,9.51,14.87,1.0]
-RECORD 11----------------------------------------------
 Ship_name   | Holiday
 Tonnage     | 46.052
 passengers  | 14.52
 length      | 7.27
 cabins      | 7.26
 crew        | 6.6
 cline_index | 1.0
 features    | [46.052,14.52,7.27,7.26,1.0]
-RECORD 12----------------------------------------------
 Ship_name   | Imagination
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
-RECORD 13----------------------------------------------
 Ship_name   | Inspiration
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
-RECORD 14----------------------------------------------
 Ship_name   | Legend
 Tonnage     | 86.0
 passengers  | 21.24
 length      | 9.63
 cabins      | 10.62
 crew        | 9.3
 cline_index | 1.0
 features    | [86.0,21.24,9.63,10.62,1.0]
-RECORD 15----------------------------------------------
 Ship_name   | Liberty*
 Tonnage     | 110.0
 passengers  | 29.74
 length      | 9.51
 cabins      | 14.87
 crew        | 11.6
 cline_index | 1.0
 features    | [110.0,29.74,9.51,14.87,1.0]
-RECORD 16----------------------------------------------
 Ship_name   | Miracle
 Tonnage     | 88.5
 passengers  | 21.24
 length      | 9.63
 cabins      | 10.62
 crew        | 10.3
 cline_index | 1.0
 features    | [88.5,21.24,9.63,10.62,1.0]
-RECORD 17----------------------------------------------
 Ship_name   | Paradise
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
-RECORD 18----------------------------------------------
 Ship_name   | Pride
 Tonnage     | 88.5
 passengers  | 21.24
 length      | 9.63
 cabins      | 11.62
 crew        | 9.3
 cline_index | 1.0
 features    | [88.5,21.24,9.63,11.62,1.0]
-RECORD 19----------------------------------------------
 Ship_name   | Sensation
 Tonnage     | 70.367
 passengers  | 20.52
 length      | 8.55
 cabins      | 10.2
 crew        | 9.2
 cline_index | 1.0
 features    | [70.367,20.52,8.55,10.2,1.0]
only showing top 20 rows

In [32]:
train_set, test_set = feature_assembled_data.randomSplit([0.7, 0.3])

In [34]:
test_set.count()

44

In [35]:
from pyspark.ml.regression import LinearRegression

In [36]:
lin_regressor = LinearRegression(featuresCol='features', labelCol='crew')

In [37]:
lin_reg_model = lin_regressor.fit(train_set)

In [38]:
eval_results = lin_reg_model.evaluate(test_set)

In [41]:
eval_results.rootMeanSquaredError

1.2459361682438879

In [42]:
unlabelled_data = test_set.select('Ship_name','features','crew').withColumnRenamed('crew','actualCrew')

In [43]:
unlabelled_data.show()

+-------------+--------------------+----------+
|    Ship_name|            features|actualCrew|
+-------------+--------------------+----------+
|        Aries|[3.341,0.66,2.8,0...|      0.59|
|      Armonia|[58.6,15.66,8.24,...|       7.0|
|    Atlantica|[85.619,21.14,9.5...|       9.2|
|     Conquest|[110.0,29.74,9.53...|      19.1|
|Constellation|[91.0,20.32,9.65,...|      9.99|
|        Crown|[116.0,31.0,9.51,...|      12.0|
|      Destiny|[101.353,26.42,8....|      10.0|
|      Emerald|[113.0,37.82,9.51...|      12.0|
|       Europa|[53.872,14.94,7.9...|      6.36|
|     Fantasia|[133.5,39.59,10.9...|     13.13|
|       Galaxy|[77.7130000000000...|      9.09|
|      Holiday|[46.052,14.52,7.2...|       6.6|
|  Imagination|[70.367,20.52,8.5...|       9.2|
|  Inspiration|[70.367,20.52,8.5...|       9.2|
|       Island|[91.6270000000000...|       9.0|
|      Liberty|[158.0,43.7,11.25...|      13.6|
|       Lirica|[58.825,15.6,8.23...|       7.0|
|      Majesty|[73.941,27.44,8.8...|      8.22|
|      Mercury|[77.7130000000000...|      9.09|
|    Navigator|[33.0,4.9,5.6,2.4...|      3.24|
+-------------+--------------------+----------+
only showing top 20 rows

In [44]:
predictions = lin_reg_model.transform(unlabelled_data)

In [45]:
predictions.show(n=100)

+--------------+--------------------+----------+------------------+
|     Ship_name|            features|actualCrew|        prediction|
+--------------+--------------------+----------+------------------+
|         Aries|[3.341,0.66,2.8,0...|      0.59|0.3287301893185721|
|       Armonia|[58.6,15.66,8.24,...|       7.0|7.3003920156484305|
|     Atlantica|[85.619,21.14,9.5...|       9.2|  9.55814150436188|
|      Conquest|[110.0,29.74,9.53...|      19.1|11.929220462089726|
| Constellation|[91.0,20.32,9.65,...|      9.99|  9.17181711200157|
|         Crown|[116.0,31.0,9.51,...|      12.0|12.419151770127177|
|       Destiny|[101.353,26.42,8....|      10.0| 10.67423320508528|
|       Emerald|[113.0,37.82,9.51...|      12.0|11.451887241225315|
|        Europa|[53.872,14.94,7.9...|      6.36| 7.005513364578729|
|      Fantasia|[133.5,39.59,10.9...|     13.13|12.959010739756893|
|        Galaxy|[77.7130000000000...|      9.09| 8.445769546385995|
|       Holiday|[46.052,14.52,7.2...|       6.6| 6.141215375607471|
|   Imagination|[70.367,20.52,8.5...|       9.2| 8.532542222165539|
|   Inspiration|[70.367,20.52,8.5...|       9.2| 8.532542222165539|
|        Island|[91.6270000000000...|       9.0| 9.165114994783364|
|       Liberty|[158.0,43.7,11.25...|      13.6|13.818540065161105|
|        Lirica|[58.825,15.6,8.23...|       7.0|7.1633682244466215|
|       Majesty|[73.941,27.44,8.8...|      8.22| 8.933153479415905|
|       Mercury|[77.7130000000000...|      9.09| 8.456681502611563|
|     Navigator|[33.0,4.9,5.6,2.4...|      3.24|3.1349596345371236|
|     Navigator|[138.0,31.14,10.2...|     11.85|12.883491585764826|
|     Oosterdam|[81.7689999999999...|      8.42|  8.73698152388607|
|        Oriana|[69.153,18.82,8.5...|      7.94| 8.264842631101832|
|      Paradise|[70.367,20.52,8.5...|       9.2| 8.532542222165539|
|   PaulGauguin|[19.2,3.2,5.13,1....|      2.11| 2.311229897093931|
|        Pisces|[40.0530000000000...|       7.5| 6.361680421669403|
|PrideofAmerica|[81.0,21.44,9.21,...|      10.0| 9.382821804952881|
|         Regal|[69.845,15.9,8.03...|      6.96| 7.178429162680796|
|       Regatta|[30.2769999999999...|       4.0| 3.852853849283518|
|      Rhapsody|[16.852,9.52,5.41...|      2.97|3.1837960117917916|
|           Sea|[77.499,19.5,8.56...|       9.0| 8.451371855204302|
|      Solstice|[122.0,28.5,10.33...|       6.7| 6.441415024236638|
|        Spirit|[5.35,1.58,4.4,0....|      0.88| 1.538155521544661|
|     Splendour|[70.0,20.76,8.67,...|       7.2| 7.560799194654928|
|          Star|[108.977,26.02,9....|      12.0|10.969830154666019|
|     Statendam|[55.451,12.66,7.1...|      5.88| 5.826246154911017|
|        Summit|[91.0,20.32,9.65,...|      9.99|  9.17181711200157|
|           Sun|[77.104,20.02,8.5...|      9.59| 8.662146497224061|
|      Symphony|[51.004,9.4,7.81,...|      5.45|5.9623702626016755|
|       Triumph|[101.509,27.58,8....|      10.0|10.522346217053169|
|       Voyager|[46.0,7.0,6.7,1.8...|      4.47|2.9916821785693077|
|       Voyager|[138.0,31.14,10.2...|     11.76|12.883491585764826|
|     Westerdam|[53.872,14.94,7.9...|      6.12| 6.753560353132432|
|     Zuiderdam|[85.0,18.48,9.51,...|       8.0| 8.741561755160356|
+--------------+--------------------+----------+------------------+